# Cache de Firebase
.firebase/

# Logs de error de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema / IDE
.DS_Store
.vscode/

# Dependencias de Node.js
node_modules/
functions/node_modules/

# Archivos de configuración sensibles
.env
